.settings
.project
core/.settings/
core/target/
core/.project
server/target/
server/settings/
server/.project

/devon4sencha/build/
/devon4sencha//ext/
/devon4sencha/bootstrap.json
/devon4sencha/bootstrap.js
/devon4sencha/bootstrap.css
/devon4sencha/**/sass/example/bootstrap.js
/devon4sencha/**/sass/example/example.css

/devon4sencha/**/java/target/
/devon4sencha/**/java/.classpath
/devon4sencha/**/java/.project
/devon4sencha/**/java/.settings/
/devon4sencha//.project
/devon4sencha/_attic/
/devon4sencha/classic.json
